.shopping-list-detail {
    
    
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 2rem 5rem 5rem;
  }

  .shopping-list-detail-box {
    background-color: #DFF3F3;
    padding: 2rem 5rem 5rem;
    border-radius: 20px;
  }
  
  .shopping-list {
    list-style: none;
    padding: 0;
  }
  
  .shopping-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    border-bottom: 1px solid #ddd;
  }
  
  .shopping-list-item.resolved {
    text-decoration: line-through;
    color: #999;
  }
  
  .add-item-section {
    margin-top: 1rem;
    display: flex;
    gap: 0.5rem;
  }
  
  .add-item-section input {
    flex: 1;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .add-item-section button {
    padding: 0.5rem 1rem;
    background-color: #BCE1E1;
    color: #6B6B6B;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .add-item-section button:hover {
    background-color: #a2c9c9;
    transition: 500ms;
  }
  
  .list-title {
    color: #6B6B6B;
    font-size: 1.2rem;
    font-weight: 800;
    text-transform: uppercase;
  }

  .edit-button {
    background-color: #BCE1E1;
    color: #6B6B6B;
    border: none;
    padding: 7px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .edit-button:hover {
    background-color: #a2c9c9;
    transition: 500ms;
  }
  
  .list-owner {
    margin-top: 0.5rem;
    color: #6B6B6B
  }
  
  .title-and-edit {
    display: flex;
    justify-content: space-between; /* This will place space between the two elements */
    align-items: center; /* Align the items vertically */
    width: 100%;
  }

  .resolve-unresolve {
    background-color: transparent; 
    text-decoration: none;           
    border: none;                   /* Removes any drop shadow */
    outline: none;                   
    padding: 0;                      
  }