.shopping-list-detail {
    
    
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 2rem 5rem 5rem;
  }

  .shopping-list-detail-box {
    background-color: #DFF3F3;
    padding: 2rem 5rem 5rem;
    border-radius: 20px;
  }
  
  .shopping-list {
    list-style: none;
    padding: 0;
  }
  
  .shopping-list-item {
    display: flex;
    color: #407a7a;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    border-bottom: 1px solid #ddd;
  }
  
  .shopping-list-item.resolved {
    text-decoration: line-through;
    color: #a1a3a3;
  }
  
.item-resolved {
  width: 2rem;
  height: 2rem;
}

.item-unresolved {
  width: 2rem;
  height: 1.5rem;
}

  .add-item-section {
    margin-top: 1rem;
    display: flex;
    gap: 0.5rem;
  }
  
  .add-item-section input {
    flex: 1;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  
  .add-item-section button {
    padding: 0.5rem 1rem;
    background-color: #BCE1E1;
    color: #6B6B6B;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .add-item-section button:hover {
    background-color: #a2c9c9;
    transition: 500ms;
  }
  
  .list-title {
    color: #6B6B6B;
    font-size: 1.2rem;
    font-weight: 800;
    text-transform: uppercase;
  }

  .edit-button {
    margin: 5px;
    background-color: #BCE1E1;
    color: #6B6B6B;
    border: none;
    padding: 7px;
    cursor: pointer;
    border-radius: 4px;
  }

  .edit-button svg {
    width: 1.2rem; 
    height: 1.2rem;
  }
  
  .edit-button:hover {
    background-color: #a2c9c9;
    transition: 500ms;
  }
  
  .list-owner {
    margin-top: 0.5rem;
    color: #6B6B6B
  }
  
  .title-and-edit {
    display: flex;
    justify-content: space-between; /* This will place space between the two elements */
    align-items: center; /* Align the items vertically */
    width: 100%;
  }

  .resolve-unresolve {
    background-color: transparent; 
    text-decoration: none;           
    border: none;                   /* Removes any drop shadow */
    outline: none;                   
    padding: 0;                      
  }


  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 500px;
    max-width: 90%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    position: relative;
  }
  
  .close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 18px;
    cursor: pointer;
  }
  
  .manage-members-button {
    background-color: #BCE1E1;
    color: #6B6B6B;
    border: none;
    padding: 7px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .manage-members-button:hover {
    background-color: #a2c9c9;
    transition: 500ms;;
  }
  

  .shopping-list-members button {
    background-color: #BCE1E1;
    color: #6B6B6B;
    border: none;
    padding: 7px;
    cursor: pointer;
    border-radius: 4px;
  }

  .close-modal {
    color: red;
  }

  .manage-members-button {
    background-color: #BCE1E1;
    color: #6B6B6B;
    margin: 5px;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .manage-members-button svg {
    width: 1.5rem; 
    height: 1.5rem;
  }

  .remove-item-from-list {
    background-color: transparent;
    color: #6B6B6B;
    border: none;
    padding: 10px; 
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .remove-item-from-list:hover {
    color: red;
    transition: 500ms;
  }
  
  .remove-item-from-list svg {
    width: 25px;  
    height: 25px;
  }
  
  .filter-dropdown {
    background-color: #BCE1E1;
    color: #6B6B6B;
    border: none;
    margin: 5px;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 4px;
  }