.header {
    display: flex;
    flex-direction: column;
    background-color: #66BFBF;
    padding: 1rem;
    border-bottom: 1px solid #ddd;
    border-radius: 10px;
  }
  
  .header-title-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .header-title {
    font-size: 1.8rem;
    color: #ffffff;
    margin: 0;

  }
  
  .edit-button {
    background-color: #BCE1E1;
    color: #6B6B6B;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .edit-button:hover {
    background-color: #0056b3;
  }
  
  .header-user-info {
    margin-top: 0.5rem;
    color: #666;
  }
  