.header {
    display: flex;
    flex-direction: column;
    background-color: #66BFBF;
    padding: 1rem;
    border-bottom: 1px solid #ddd;
    border-radius: 10px;
  }
  
  .header-title-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .header-title {
    font-size: 1.8rem;
    font-weight:800;
    color: #ffffff;
    margin: 0;

  }
  
